@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Our Services</h1>
<div class="row p-2">
    <div class="col-8">
        <h2>Learn to write a Book in 30 days</h2>
        <p>Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>Recommended for Beginners & Intermediate writers.</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/6.jpg" class="img-fluid" alt="writing in 30 days"/>
    </div>
</div>

<div class="row p-2">
    <div class="col-8">
        <h2>Beta-Reading & Developmental Editing</h2>
        <p>
            Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>Recommended for Authors willing to publish their writing in the comming Year.</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/2.jpg" class="img-fluid" alt="editing in 30 days"/>
    </div>
</div>

<div class="row p-2">
    <div class="col-8">
        <h2>Learn to draw Characters in 30 days</h2>
        <p>
            Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>Recommended for Beginners & Intermediate artists</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/8.jpg" class="img-fluid" alt="Characters in 30 days" />
    </div>
</div>

<div class="row p-2">
    <div class="col-8">
        <h2>Portrait Paintings & Drawings</h2>
        <p>
            Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>Recommended for Customers who want Faithful representations of their Characters.
        </p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/2(1).jpg" class="img-fluid" alt="Character Portraits" />
    </div>
</div>

<div class="row p-2">
    <div class="col-8">
        <h2>Character & Environment Concepts</h2>
        <p>
            Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>
            Recommended for Writers, Editors or Producers who need Immediate representations of their Stories.
        </p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/10.jpg" class="img-fluid" alt="Character Concepts"/>
    </div>
</div>


<div class="row p-2">
    <div class="col-8">
        <h2>Service</h2>
        <p>
            Advantages - Timeframe, Simplicity, Skills acquired/
            [Desireable Skill] in [Timeframe] + [Opposition handled]
        </p>
        <p>Recommended for [Public]</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="~/img/ " class="img-fluid" alt="title" />
    </div>
</div>